@model IEnumerable<Ecommerce.Models.MMenu>
<a href="~/" class="text-white text-decoration-none mr-3">Trang Chủ</a>
@foreach (var t in Model)
{
<a href="~/@t.Link" class="text-white text-decoration-none mr-3">@t.Name</a>}
