<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91">
        <a href=""><img src="images/banners/03-1200x140.jpg" alt="" width="100%"></a>
    </div>
</div>
<div style="background-color:#f3f3f3;" class="py-2">
    <div class="container-91 bg-white py-2 px-3">
        Tìm kiếm nhiều:
        <a class="pl-3" href="">DELL</a>
        <a class="pl-3" href="">ACER</a>
        <a class="pl-3" href="">MSI</a>
        <a class="pl-3" href="">Laptop Gaming</a>
        <a class="pl-3" href="">Laptop văn phòng</a>
        <a class="pl-3" href="">Laptop giá rẻ</a>
        <a class="pl-3" href="">Lap xịn</a>
    </div>
</div>
